Repository osl-incubator/scicookie: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff format, ruff check

mypy:
  name: mypy
  entry: mypy
  language: system
  pass_filenames: true

ruff format:
  name: ruff format
  entry: ruff format
  language: system
  pass_filenames: true

ruff check:
  name: ruff check
  entry: ruff check
  language: system
  pass_filenames: true

feat: Add github workflow for closing stale prs (#342)
  .github/workflows/stale.yaml
  src/scicookie/{{cookiecutter.project_slug}}/.github/workflows/stale.yaml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/base/pyproject.toml
Due: none

Added new template for communication platform
  src/scicookie/cookiecutter.json
  src/scicookie/profiles/base.yaml
  src/scicookie/profiles/osl.yaml
  src/scicookie/{{cookiecutter.project_slug}}/README.md
  tests/profiles/test-depends-on.yaml
  tests/profiles/test-main.yaml
Due: none

simplified the query for communication tool
  src/scicookie/cookiecutter.json
  src/scicookie/profiles/base.yaml
  src/scicookie/profiles/osl.yaml
  src/scicookie/{{cookiecutter.project_slug}}/README.md
  tests/profiles/test-depends-on.yaml
  tests/profiles/test-main.yaml
Due: none

feat: Added new template for communication platform (#347)
  src/scicookie/cookiecutter.json
  src/scicookie/profiles/base.yaml
  src/scicookie/profiles/osl.yaml
  src/scicookie/{{cookiecutter.project_slug}}/README.md
  tests/profiles/test-depends-on.yaml
  tests/profiles/test-main.yaml
Due: none

Add donation URL feature
  src/scicookie/cookiecutter.json
  src/scicookie/profiles/base.yaml
  src/scicookie/profiles/osl.yaml
  src/scicookie/{{cookiecutter.project_slug}}/README.md
  tests/profiles/test-depends-on.yaml
  tests/profiles/test-main.yaml
Due: none

simplified the query for donation url
  src/scicookie/cookiecutter.json
  src/scicookie/profiles/base.yaml
  src/scicookie/profiles/osl.yaml
  src/scicookie/{{cookiecutter.project_slug}}/README.md
  tests/profiles/test-depends-on.yaml
  tests/profiles/test-main.yaml
Due: none

update deps
  conda/dev.yaml
  poetry.lock
  pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/base/dev-deps-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/docs-mkdocs/mkdocs.yaml
Due: none

update conda win deps
  conda/dev-win.yaml
Due: none

update some deps
  poetry.lock
  pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/base/config-mypy.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/base/dev-deps-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/poetry/pyproject.toml
Due: none

update depds and config
  conda/dev-win.yaml
  conda/dev.yaml
  poetry.lock
  pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/base/dev-deps-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/base/pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/poetry/pyproject.toml
Due: none

fix mkdocs issues
  src/scicookie/{{cookiecutter.project_slug}}/docs-mkdocs/mkdocs.yaml
  src/scicookie/{{cookiecutter.project_slug}}/virtualenvs/conda/dev.yaml
Due: none

fix: Fix template and project config for mkdocs and update dependencies (#350)
  conda/dev-win.yaml
  conda/dev.yaml
  poetry.lock
  pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/base/config-mypy.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/base/dev-deps-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/base/pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/poetry/pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/docs-mkdocs/mkdocs.yaml
  src/scicookie/{{cookiecutter.project_slug}}/virtualenvs/conda/dev.yaml
Due: none

feat: Add donation URL feature (#349)
  src/scicookie/cookiecutter.json
  src/scicookie/profiles/base.yaml
  src/scicookie/profiles/osl.yaml
  src/scicookie/{{cookiecutter.project_slug}}/README.md
  tests/profiles/test-depends-on.yaml
  tests/profiles/test-main.yaml
Due: none

chore(release): 0.14.0
  CHANGELOG.md
  pyproject.toml
Due: none

Notes added by 'git notes add'
  e9ef96b86f47ba46a79ca03e94fd8637647d3b42
Due: none

deploy: 35f608a6c69aab0dff40b54ff50d6e759c4ae6fa
  404.html
  assets/javascripts/bundle.88dd0f4e.min.js
  assets/javascripts/bundle.88dd0f4e.min.js.map
  assets/javascripts/bundle.e71a0d61.min.js
  assets/javascripts/bundle.e71a0d61.min.js.map
  assets/javascripts/workers/search.6ce7567c.min.js
  assets/javascripts/workers/search.6ce7567c.min.js.map
  assets/javascripts/workers/search.7a47a382.min.js
  assets/javascripts/workers/search.7a47a382.min.js.map
  assets/stylesheets/main.618322db.min.css
  assets/stylesheets/main.618322db.min.css.map
  assets/stylesheets/main.6f8fc17f.min.css
  assets/stylesheets/main.6f8fc17f.min.css.map
  assets/stylesheets/palette.06af60db.min.css
  assets/stylesheets/palette.06af60db.min.css.map
  assets/stylesheets/palette.ab4e12ef.min.css
  assets/stylesheets/palette.ab4e12ef.min.css.map
  changelog/index.html
  conduct/index.html
  contributing/index.html
  description/index.html
  guide/index.html
  index.html
  install/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

correct PyTorch conda specs and add hardware variants (CPU, CUDA, RoCM, MPS)
  src/scicookie/cookiecutter.json
  src/scicookie/profiles/base.yaml
  src/scicookie/profiles/osl.yaml
  src/scicookie/{{cookiecutter.project_slug}}/README.md
  src/scicookie/{{cookiecutter.project_slug}}/build-system/base/pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/virtualenvs/conda/dev.yaml
  src/scicookie/{{cookiecutter.project_slug}}/virtualenvs/pyenv/requirements.txt
  tests/profiles/test-depends-on.yaml
  tests/profiles/test-main.yaml
Due: none

Implement safe_input function for user input
  src/scicookie/cli.py
Due: mypy, ruff format, ruff check

doc: Add documentation for donation URL feature
  docs/guide.md
  src/scicookie/profiles/base.yaml
Due: none

Added Donate_Url in Guide.md
  docs/guide.md
Due: none

Potential fix for pull request finding
  docs/guide.md
Due: none

fix: replace deprecated ruff rule I001 with I for isort
  pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/base/config-ruff.toml
Due: none

docs: add documentation for donation URL feature
  docs/guide.md
Due: none

docs: improve donation URL documentation with examples
  docs/guide.md
Due: none

fix: apply prettier formatting and fix mypy setup
  docs/guide.md
Due: none

fix: remove extra newline to satisfy prettier
  docs/guide.md
Due: none

fix: correct nested markdown list formatting
  docs/guide.md
Due: none

docs: remove unsupported platforms section per review feedback
  docs/guide.md
Due: none

Add validation for profile schema
  src/scicookie/profile.py
Due: mypy, ruff format, ruff check

Fix indentation and add profile schema validation
  src/scicookie/profile.py
Due: mypy, ruff format, ruff check

Fix indentation error in validation function
  src/scicookie/profile.py
Due: mypy, ruff format, ruff check

Relax validation to avoid breaking cookiecutter flow
  src/scicookie/profile.py
Due: mypy, ruff format, ruff check

Fix sphinx docs generation for cookiecutter template
  {{cookiecutter.project_slug}}/docs-sphinx/conf.py
Due: ruff format, ruff check

fix: resolve linter errors in profile schema validation
  src/scicookie/profile.py
Due: mypy, ruff format, ruff check

fix: correct import path and directory paths in profile.py
  src/scicookie/profile.py
Due: mypy, ruff format, ruff check

fix: remove duplicate code in profile.py
  src/scicookie/profile.py
Due: mypy, ruff format, ruff check

Path conditions:
  mypy: any of: src/scicookie/ and \.py$ and not ((?x)(
    src/scicookie/{{cookiecutter.project_slug}}/
  | src/scicookie/hooks
)
)
  ruff format: any of: ./ and \.py$ and not ((?x)(
    src/scicookie/{{cookiecutter.project_slug}}
  | src/scicookie/hooks
)
)
  ruff check: any of: ./ and \.py$ and not ((?x)(
    src/scicookie/{{cookiecutter.project_slug}}
  | src/scicookie/hooks
)
)
