Repository osl-incubator/scicookie: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff format, ruff check

.pre-commit-config.yaml:

---
default_stages:
  - pre-commit

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-json
        exclude: "src/scicookie/{{cookiecutter.project_slug}}.*"
      - id: check-toml
        exclude: "src/scicookie/{{cookiecutter.project_slug}}.*"
      - id: check-xml
      - id: debug-statements
        exclude: "src/scicookie/{{cookiecutter.project_slug}}.*|src/scicookie/hooks/.*"
      - id: check-builtin-literals
        exclude: "src/scicookie/{{cookiecutter.project_slug}}.*|src/scicookie/hooks/.*"
      - id: check-case-conflict
      - id: check-docstring-first
        exclude: "src/scicookie/{{cookiecutter.project_slug}}.*"
      - id: detect-private-key

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.0.2"
    hooks:
      - id: prettier

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        files: "src/scicookie/"
        language: system
        pass_filenames: true
        # pre-commit + mypy doesn't honor the exclusion defined in the config
        exclude: |
          (?x)(
              src/scicookie/{{cookiecutter.project_slug}}/
            | src/scicookie/hooks
          )
        types:
          - python

      - id: ruff format
        name: ruff format
        entry: ruff format
        language: system
        pass_filenames: true
        files: "./"
        # pre-commit + ruff doesn't honor the exclusion defined in the config
        exclude: |
          (?x)(
              src/scicookie/{{cookiecutter.project_slug}}
            | src/scicookie/hooks
          )
        types:
          - python

      - id: ruff check
        name: ruff check
        entry: ruff check
        language: system
        pass_filenames: true
        files: "./"
        # pre-commit + ruff doesn't honor the exclusion defined in the config
        exclude: |
          (?x)(
              src/scicookie/{{cookiecutter.project_slug}}
            | src/scicookie/hooks
          )
        types:
          - python

fix: restore profile.py and add _validate_profile method
  src/scicookie/profile.py
Due: mypy, ruff format, ruff check

fix: add exclusions for cookiecutter templates in pre-commit hooks
  .pre-commit-config.yaml
  {{cookiecutter.project_slug}}/README.md
  {{cookiecutter.project_slug}}/containers/compose.yaml
  {{cookiecutter.project_slug}}/docs-quarto/_quarto.yml
  {{cookiecutter.project_slug}}/docs/contributing.md
  {{cookiecutter.project_slug}}/docs/index.md
  {{cookiecutter.project_slug}}/docs/installation.md
Due: none

fix: add uv.lock to .gitignore template when uv build system is selected
  src/scicookie/{{cookiecutter.project_slug}}/.gitignore
Due: none

feat: add profile validation with schema type checks and clean refactor
  docs/guide.md
  src/scicookie/profile.py
Due: mypy, ruff format, ruff check

fix: wrap long lines to satisfy ruff E501
  src/scicookie/profile.py
Due: mypy, ruff format, ruff check

fix: end of file newlines
  src/scicookie/{{cookiecutter.project_slug}}/.gitignore
  src/scicookie/{{cookiecutter.project_slug}}/build-system/base/dev-deps-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/poetry/pyproject.toml
Due: none

fix: update makim to 1.29.0 to resolve xonsh dependency conflict
  conda/dev-win.yaml
  conda/dev.yaml
Due: none

fix: pin xonsh>=0.22.8 to prevent dependency downgrade conflict
  conda/dev-win.yaml
  conda/dev.yaml
Due: none

revert: undo incorrect conda yaml changes
  conda/dev-win.yaml
  conda/dev.yaml
Due: none

fix: address PR review — add noqa comments, inline docs, init instance attrs
  src/scicookie/profile.py
Due: mypy, ruff format, ruff check

docs:add documentation for donation URL
  docs/guide.md
Due: none

docs: remove duplicate donation URL heading
  docs/guide.md
Due: none

fix: handle empty cookiecutter default lists
  src/scicookie/cli.py
  tests/test_cli.py
Due: mypy, ruff format, ruff check

style: format cli tests
  tests/test_cli.py
Due: ruff format, ruff check

fix: satisfy type checker for cookiecutter defaults
  src/scicookie/cli.py
Due: mypy, ruff format, ruff check
